.page
{
}

#header
{
}

#title
{
}

#menucontainer
{
}

#menu
{
}

#main
{
}

#footer
{
}

#logindisplay
{
}

.login
{
    text-align : left;
}
.login fieldset
{
    padding : 5px;
	width : 340px;
}
.login label
{
	width : 100px;
	display : block;
	float:left;
}
.login div
{
    float:none;
    clear:both;
}

.error
{
	color:red;
}